# postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=postgresDB

# pgAdmin
PGADMIN_DEFAULT_EMAIL=test@test.com
PGADMIN_DEFAULT_PASSWORD=password

# minio
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=password

# bucket s3
S3_BUCKET=waka